@charset "UTF-8"
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, white, blue);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {

}
p {
    text-align: justify;
}